# Here we have added shortest path feature to train data and test data

In [ ]:
import warnings
warnings.filterwarnings("ignore")

import csv
import pandas as pd#pandas to create small dataframes 
import datetime #Convert to unix time
import time #Convert to unix time
# if numpy is not installed already : pip3 install numpy
import numpy as np#Do aritmetic operations on arrays
# matplotlib: used to plot graphs
import matplotlib
import matplotlib.pylab as plt
import seaborn as sns#Plots
from matplotlib import rcParams#Size of plots  
from sklearn.cluster import MiniBatchKMeans, KMeans#Clustering
import math

In [2]:
train_data = pd.read_csv('train_data_with_jacard_corrected.csv')
train_data

,Form,To,Target,src_Indegree,src_Outdegree,Jaccard_Coefficient,follow_back,weight_in,weight_out,weight_f1,weight_f2,weight_f3,weight_f4
0,4862306,3513873,1,291,7998,0.000242,0,0.288675,0.011181,0.299856,0.003228,0.588531,0.311037
1,629760,4763045,1,144,1351,0.007988,0,0.204124,0.027196,0.231321,0.005551,0.435445,0.258517
2,3086336,1009858,1,152,2395,0.007997,0,0.103142,0.020429,0.123572,0.002107,0.226714,0.144001
3,1090555,4388892,1,50,295,0.000000,0,0.301511,0.058124,0.359635,0.017525,0.661147,0.417759
4,307789,4761599,1,161,664,0.061415,0,0.097590,0.038778,0.136368,0.003784,0.233958,0.175147
...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,3768869,3632227,0,23,991,0.000000,0,0.204124,0.031750,0.235874,0.006481,0.439998,0.267624
199996,193463,395062,0,255,7999,0.000000,0,0.707107,0.011180,0.718287,0.007906,1.425394,0.729467
199997,1131409,4535736,0,50,1208,0.000000,0,0.707107,0.028760,0.735867,0.020336,1.442973,0.764627
199998,597722,2395573,0,2,6,0.000000,0,0.179605,0.377964,0.557570,0.067884,0.737175,0.935534
199999,795081,988627,0,161,1738,0.000566,0,0.223607,0.023980,0.247587,0.005362,0.471194,0.271567

In [12]:
X = train_data[['Form','To']]
X
type(X)

pandas.core.frame.DataFrame

In [10]:
whole_data = pd.read_csv('data_int.csv')
whole_data = whole_data.rename(columns={'0': 'Form', '1': 'To'})
whole_data

             Form       To
0          687794  2132718
1          687794   364024
2          687794  3273020
3          687794  4589838
4          687794  4507085
...           ...      ...
12903547  3276950  3604072
12903548  3276950  3018756
12903549  3276950   362031
12903550  3276950  1008178
12903551  3276950   391199

[12903552 rows x 2 columns]

In [11]:
G = nx.DiGraph()

for _, row in whole_data.iterrows():
    G.add_edge(row['Form'], row['To'])

In [13]:
# Function to calculate shortest path length
def calculate_shortest_path_length(row):
    source_node = row['Form']
    target_node = row['To']
    
    try:
        shortest_path_length = nx.shortest_path_length(G, source=source_node, target=target_node)
        return shortest_path_length
    except nx.NetworkXNoPath:
        return float(10000.0)  # Return infinity if no path exists

# Apply the function to each row in the DataFrame and append the results as a new column
X['shortest_path_length'] = X.apply(calculate_shortest_path_length, axis=1)

In [16]:
X.tail(50)

           Form       To  shortest_path_length
199950   676274  3635731                   4.0
199951  2746138  2376220                   4.0
199952  3474925  1382714                   4.0
199953  3681653  4175126                   4.0
199954  4675660   997610                   2.0
199955   547044  4301468                   4.0
199956  2672696   198993                   5.0
199957  4379770  1377752                   5.0
199958  2854574  3916401                   3.0
199959   634978  4536166                   3.0
199960  3724105    33593                   5.0
199961  1353671  1126740                   2.0
199962   207346  3740425                   4.0
199963   683693  2960515                   3.0
199964  1465581  1974996                   3.0
199965  2924464   150590                   4.0
199966   143700  3963919                   4.0
199967  3257108  2180461                   3.0
199968  2116057  3770487                   6.0
199969  1226064   978388                   4.0
199970  1966104    86564                   3.0
199971  1555606  4332777                   4.0
199972  3218539    90210                   4.0
199973  3205520  4401854                   4.0
199974   146711  3115044                   4.0
199975  4160475  3319475                   4.0
199976  2788343  3692619                   3.0
199977  1348276   375292                   3.0
199978  4147637  4214510                   3.0
199979  3874129  2052724                   4.0
199980  2506958  4600865                   3.0
199981   509274   943550                   4.0
199982   471034  2662862                   4.0
199983  4390733  1968166                   3.0
199984  2592108    95035                   3.0
199985  4590872    80315                   4.0
199986   768606  4775997                   4.0
199987  2675832   798535                   2.0
199988  2272741  4614971                   3.0
199989  3772224  2824830                   4.0
199990  2361267  2597481                   3.0
199991  3321270   874726                   3.0
199992  2067699   737017                   3.0
199993  2710009  1224645                   2.0
199994   566578   417526                   3.0
199995  3768869  3632227                   3.0
199996   193463   395062                   3.0
199997  1131409  4535736                   4.0
199998   597722  2395573               10000.0
199999   795081   988627                   2.0

In [17]:
Y = X['shortest_path_length']
Y

0             1.0
1             1.0
2             1.0
3             1.0
4             1.0
           ...
199995        3.0
199996        3.0
199997        4.0
199998    10000.0
199999        2.0
Name: shortest_path_length, Length: 200000, dtype: float64

In [18]:
train_data

,Form,To,Target,src_Indegree,src_Outdegree,Jaccard_Coefficient,follow_back,weight_in,weight_out,weight_f1,weight_f2,weight_f3,weight_f4
0,4862306,3513873,1,291,7998,0.000242,0,0.288675,0.011181,0.299856,0.003228,0.588531,0.311037
1,629760,4763045,1,144,1351,0.007988,0,0.204124,0.027196,0.231321,0.005551,0.435445,0.258517
2,3086336,1009858,1,152,2395,0.007997,0,0.103142,0.020429,0.123572,0.002107,0.226714,0.144001
3,1090555,4388892,1,50,295,0.000000,0,0.301511,0.058124,0.359635,0.017525,0.661147,0.417759
4,307789,4761599,1,161,664,0.061415,0,0.097590,0.038778,0.136368,0.003784,0.233958,0.175147
...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,3768869,3632227,0,23,991,0.000000,0,0.204124,0.031750,0.235874,0.006481,0.439998,0.267624
199996,193463,395062,0,255,7999,0.000000,0,0.707107,0.011180,0.718287,0.007906,1.425394,0.729467
199997,1131409,4535736,0,50,1208,0.000000,0,0.707107,0.028760,0.735867,0.020336,1.442973,0.764627
199998,597722,2395573,0,2,6,0.000000,0,0.179605,0.377964,0.557570,0.067884,0.737175,0.935534
199999,795081,988627,0,161,1738,0.000566,0,0.223607,0.023980,0.247587,0.005362,0.471194,0.271567

In [19]:
train_data['shortest_path'] = Y
train_data

,Form,To,Target,src_Indegree,src_Outdegree,Jaccard_Coefficient,follow_back,weight_in,weight_out,weight_f1,weight_f2,weight_f3,weight_f4,shortest_path
0,4862306,3513873,1,291,7998,0.000242,0,0.288675,0.011181,0.299856,0.003228,0.588531,0.311037,1.0
1,629760,4763045,1,144,1351,0.007988,0,0.204124,0.027196,0.231321,0.005551,0.435445,0.258517,1.0
2,3086336,1009858,1,152,2395,0.007997,0,0.103142,0.020429,0.123572,0.002107,0.226714,0.144001,1.0
3,1090555,4388892,1,50,295,0.000000,0,0.301511,0.058124,0.359635,0.017525,0.661147,0.417759,1.0
4,307789,4761599,1,161,664,0.061415,0,0.097590,0.038778,0.136368,0.003784,0.233958,0.175147,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,3768869,3632227,0,23,991,0.000000,0,0.204124,0.031750,0.235874,0.006481,0.439998,0.267624,3.0
199996,193463,395062,0,255,7999,0.000000,0,0.707107,0.011180,0.718287,0.007906,1.425394,0.729467,3.0
199997,1131409,4535736,0,50,1208,0.000000,0,0.707107,0.028760,0.735867,0.020336,1.442973,0.764627,4.0
199998,597722,2395573,0,2,6,0.000000,0,0.179605,0.377964,0.557570,0.067884,0.737175,0.935534,10000.0
199999,795081,988627,0,161,1738,0.000566,0,0.223607,0.023980,0.247587,0.005362,0.471194,0.271567,2.0

In [20]:
file_path = 'train_data_with_sh_path_n_all_ft.csv'

# Save the DataFrame to a CSV file
train_data.to_csv(file_path, index=False)

In [21]:
test_data = pd.read_csv('kaggle_test_data_with_jacard_crrt.csv')
test_data

,Form,To,src_Indegree,src_Outdegree,Jaccard_Coefficient,follow_back,weight_in,weight_out,weight_f1,weight_f2,weight_f3,weight_f4
0,3360982,4457271,102,1964,0.036222,0,0.110432,0.022559,0.132990,0.002491,0.243422,0.155549
1,4761876,4698439,68,123,0.000000,0,0.288675,0.089803,0.378478,0.025924,0.667153,0.468280
2,4198430,3615486,217,6996,0.000000,0,0.200000,0.011955,0.211955,0.002391,0.411955,0.223910
3,2945770,747948,210,289,0.004264,0,0.134840,0.058722,0.193562,0.007918,0.328402,0.252284
4,3950088,3360335,149,1309,0.021918,0,0.084515,0.027629,0.112144,0.002335,0.196660,0.139773
...,...,...,...,...,...,...,...,...,...,...,...,...
1995,3116985,2415415,105,449,0.014035,0,0.038925,0.047140,0.086065,0.001835,0.124990,0.133206
1996,265459,842701,95,3947,0.003521,0,0.068519,0.015915,0.084434,0.001090,0.152953,0.100349
1997,2547139,4332939,48,131,0.034247,0,0.288675,0.087039,0.375714,0.025126,0.664389,0.462753
1998,2366264,1815056,10,107,0.008850,0,0.500000,0.096225,0.596225,0.048113,1.096225,0.692450
1999,2735577,1232247,17,544,0.000000,0,0.316228,0.042835,0.359063,0.013546,0.675291,0.401898

In [22]:
X_1 = test_data[['Form','To']]
X_1

         Form       To
0     3360982  4457271
1     4761876  4698439
2     4198430  3615486
3     2945770   747948
4     3950088  3360335
...       ...      ...
1995  3116985  2415415
1996   265459   842701
1997  2547139  4332939
1998  2366264  1815056
1999  2735577  1232247

[2000 rows x 2 columns]

In [29]:
def calculate_shortest_path_length(row):
    source_node = row['Form']
    target_node = row['To']
    
    if source_node not in G or target_node not in G:
        return 10000.0  # Return -1 if source or target node is not in the graph
    
    try:
        shortest_path_length = nx.shortest_path_length(G, source=source_node, target=target_node)
        return shortest_path_length
    except nx.NetworkXNoPath:
        return 10000.0  # Return a large value if no path exists

# Apply the function to each row in the DataFrame and append the results as a new column
X_1['shortest_path_length'] = X_1.apply(calculate_shortest_path_length, axis=1)

In [30]:
X_1

         Form       To  shortest_path_length
0     3360982  4457271                   2.0
1     4761876  4698439                   4.0
2     4198430  3615486                   3.0
3     2945770   747948                   2.0
4     3950088  3360335                   2.0
...       ...      ...                   ...
1995  3116985  2415415                   2.0
1996   265459   842701                   2.0
1997  2547139  4332939                   2.0
1998  2366264  1815056                   2.0
1999  2735577  1232247                   3.0

[2000 rows x 3 columns]

In [27]:
X_1.head(70)

       Form       To  shortest_path_length
0   3360982  4457271                     2
1   4761876  4698439                     4
2   4198430  3615486                     3
3   2945770   747948                     2
4   3950088  3360335                     2
..      ...      ...                   ...
65  4319217  1258807                     3
66  1935587  3619393                     3
67   204136  2477968                     3
68  3545507   520075                     2
69  4343231   438423                     2

[70 rows x 3 columns]

In [31]:
Y_1 = X_1['shortest_path_length']
Y_1

0       2.0
1       4.0
2       3.0
3       2.0
4       2.0
       ...
1995    2.0
1996    2.0
1997    2.0
1998    2.0
1999    3.0
Name: shortest_path_length, Length: 2000, dtype: float64

In [33]:
test_data['shortest_path'] = Y_1
test_data

,Form,To,src_Indegree,src_Outdegree,Jaccard_Coefficient,follow_back,weight_in,weight_out,weight_f1,weight_f2,weight_f3,weight_f4,shortest_path
0,3360982,4457271,102,1964,0.036222,0,0.110432,0.022559,0.132990,0.002491,0.243422,0.155549,2.0
1,4761876,4698439,68,123,0.000000,0,0.288675,0.089803,0.378478,0.025924,0.667153,0.468280,4.0
2,4198430,3615486,217,6996,0.000000,0,0.200000,0.011955,0.211955,0.002391,0.411955,0.223910,3.0
3,2945770,747948,210,289,0.004264,0,0.134840,0.058722,0.193562,0.007918,0.328402,0.252284,2.0
4,3950088,3360335,149,1309,0.021918,0,0.084515,0.027629,0.112144,0.002335,0.196660,0.139773,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,3116985,2415415,105,449,0.014035,0,0.038925,0.047140,0.086065,0.001835,0.124990,0.133206,2.0
1996,265459,842701,95,3947,0.003521,0,0.068519,0.015915,0.084434,0.001090,0.152953,0.100349,2.0
1997,2547139,4332939,48,131,0.034247,0,0.288675,0.087039,0.375714,0.025126,0.664389,0.462753,2.0
1998,2366264,1815056,10,107,0.008850,0,0.500000,0.096225,0.596225,0.048113,1.096225,0.692450,2.0
1999,2735577,1232247,17,544,0.000000,0,0.316228,0.042835,0.359063,0.013546,0.675291,0.401898,3.0

In [34]:
file_path = '_kaggle_test_data_with_sh_path_n_all_ft.csv'

# Save the DataFrame to a CSV file
test_data.to_csv(file_path, index=False)