# Adding Jaccard feature to test data and train data

In [ ]:
#Importing Libraries
# please do go through this python notebook: 
import warnings
warnings.filterwarnings("ignore")

import csv
import pandas as pd#pandas to create small dataframes 
import datetime #Convert to unix time
import time #Convert to unix time
# if numpy is not installed already : pip3 install numpy
import numpy as np#Do aritmetic operations on arrays
# matplotlib: used to plot graphs
import matplotlib
import matplotlib.pylab as plt
import seaborn as sns#Plots
from matplotlib import rcParams#Size of plots  
from sklearn.cluster import MiniBatchKMeans, KMeans#Clustering
import math
import warnings
import networkx as nx

In [2]:
train_data = pd.read_csv('concat_df_with_2_feature.csv')
train_data

           Form       To  Target  src_Indegree  src_Outdegree
0       4862306  3513873       1           291           7998
1        629760  4763045       1           144           1351
2       3086336  1009858       1           152           2395
3       1090555  4388892       1            50            295
4        307789  4761599       1           161            664
...         ...      ...     ...           ...            ...
199995  3768869  3632227       0            23            991
199996   193463   395062       0           255           7999
199997  1131409  4535736       0            50           1208
199998   597722  2395573       0             2              6
199999   795081   988627       0           161           1738

[200000 rows x 5 columns]

In [13]:
df = pd.read_csv('data_int.csv')
df

                0        1
0          687794  2132718
1          687794   364024
2          687794  3273020
3          687794  4589838
4          687794  4507085
...           ...      ...
12903547  3276950  3604072
12903548  3276950  3018756
12903549  3276950   362031
12903550  3276950  1008178
12903551  3276950   391199

[12903552 rows x 2 columns]

In [15]:
df = df.rename(columns={'0': 'Form', '1': 'To'})
df

             Form       To
0          687794  2132718
1          687794   364024
2          687794  3273020
3          687794  4589838
4          687794  4507085
...           ...      ...
12903547  3276950  3604072
12903548  3276950  3018756
12903549  3276950   362031
12903550  3276950  1008178
12903551  3276950   391199

[12903552 rows x 2 columns]

In [7]:
train_graph=nx.read_edgelist('data_int.csv',delimiter=',',create_using=nx.DiGraph(),nodetype=int)
print(nx.info(train_graph))

DiGraph with 2480802 nodes and 12903374 edges

In [16]:
G_d1 = nx.Graph()

for _, row in df.iterrows():
    G_d1.add_edge(row['Form'], row['To'])


jaccard_coefficients = []

for _, row_d2 in train_data.iterrows():
    node1_d2 = row_d2['Form']
    node2_d2 = row_d2['To']
   
    jaccard = nx.jaccard_coefficient(G_d1, [(node1_d2, node2_d2)])
   
    for u, v, j in jaccard:
        jaccard_coefficients.append(j)

train_data['Jaccard_Coefficient'] = jaccard_coefficients

In [17]:
train_data

,Form,To,Target,src_Indegree,src_Outdegree,Jaccard_Coefficient
0,4862306,3513873,1,291,7998,0.000242
1,629760,4763045,1,144,1351,0.007988
2,3086336,1009858,1,152,2395,0.007997
3,1090555,4388892,1,50,295,0.000000
4,307789,4761599,1,161,664,0.061415
...,...,...,...,...,...,...
199995,3768869,3632227,0,23,991,0.000000
199996,193463,395062,0,255,7999,0.000000
199997,1131409,4535736,0,50,1208,0.000000
199998,597722,2395573,0,2,6,0.000000
199999,795081,988627,0,161,1738,0.000566

In [18]:
train_data.head(50)

       Form       To  Target  src_Indegree  src_Outdegree  Jaccard_Coefficient
0   4862306  3513873       1           291           7998             0.000242
1    629760  4763045       1           144           1351             0.007988
2   3086336  1009858       1           152           2395             0.007997
3   1090555  4388892       1            50            295             0.000000
4    307789  4761599       1           161            664             0.061415
5   1245143   362031       1           110           4681             0.000212
6   2479433  3627089       1           146           1049             0.003711
7   2576408  1298559       1           387           4088             0.000240
8   1147247  2807165       1            28           1909             0.001565
9   2109311  4682041       1           129           6621             0.000000
10  3607920   424767       1           100           1943             0.002035
11  4534982  2874996       1           159           1561             0.043347
12  3804170  4087207       1            27           1420             0.000000
13  4537440  2883271       1           182           2782             0.000358
14  4603373  3886839       1            64           1511             0.071358
15  1813940  2857783       1            48           5860             0.000170
16   183770  1197203       1          1670           2979             0.035041
17  3220050  3329273       1            80           5849             0.000682
18  3612494   475684       1             6            466             0.000000
19  3802029  2174034       1           157           3062             0.001286
20  3381797  1555461       1           521           2891             0.000000
21  2943271  2076028       1            48           4404             0.001130
22  2127394  3555498       1           621           1257             0.008100
23  2895014  3805735       1            99           1936             0.003083
24  1514574  3600159       1            91           4326             0.019946
25  2658039   728656       1           123           1959             0.004237
26  2061179  2536066       1           355           7999             0.000361
27  3401324  2702454       1            62           2600             0.000000
28  2416482  4623472       1           364           4728             0.001469
29  4344012   448006       1          1666           7999             0.000210
30  4469921    30932       1           151           2002             0.000495
31  4052183  4120521       1            68            965             0.000000
32  3779815  4020504       1           206           7998             0.000000
33  4845691  3523075       1            38           2001             0.000000
34  1412710  2407387       1           136            986             0.015238
35  3330917   859450       1           598           7999             0.000236
36  2353325  1568271       1           313           7998             0.000121
37   422861  1541925       1            40           1232             0.003221
38  3015544  1103507       1           498           4544             0.000000
39  3409942  4595830       1            69           3638             0.000000
40  2539665  2062032       1           200           7999             0.000000
41  2610074   608414       1            87            195             0.003663
42  3760658  1213759       1          1273           4229             0.000000
43  3961528  4547230       1           297           1958             0.001449
44  4617555  3736895       1           175             12             0.022624
45   653304   581712       1           132           7539             0.000527
46  4212919  1011955       1            72            164             0.077869
47  1722356  4352614       1            38            456             0.004283
48  4634199  1834721       1            82           6961             0.000279
49  1224687  4478691       1           115           1422             0.005468

In [19]:
def follows_back(a,b):
    if train_graph.has_edge(b,a):
        return 1
    else:
        return 0

In [20]:
train_data['follow_back'] = train_data.apply(lambda row: follows_back(row['Form'],row['To']),axis=1)
train_data

,Form,To,Target,src_Indegree,src_Outdegree,Jaccard_Coefficient,follow_back
0,4862306,3513873,1,291,7998,0.000242,0
1,629760,4763045,1,144,1351,0.007988,0
2,3086336,1009858,1,152,2395,0.007997,0
3,1090555,4388892,1,50,295,0.000000,0
4,307789,4761599,1,161,664,0.061415,0
...,...,...,...,...,...,...,...
199995,3768869,3632227,0,23,991,0.000000,0
199996,193463,395062,0,255,7999,0.000000,0
199997,1131409,4535736,0,50,1208,0.000000,0
199998,597722,2395573,0,2,6,0.000000,0
199999,795081,988627,0,161,1738,0.000566,0

In [21]:
train_data.head(50)

,Form,To,Target,src_Indegree,src_Outdegree,Jaccard_Coefficient,follow_back
0,4862306,3513873,1,291,7998,0.000242,0
1,629760,4763045,1,144,1351,0.007988,0
2,3086336,1009858,1,152,2395,0.007997,0
3,1090555,4388892,1,50,295,0.000000,0
4,307789,4761599,1,161,664,0.061415,0
5,1245143,362031,1,110,4681,0.000212,0
6,2479433,3627089,1,146,1049,0.003711,0
7,2576408,1298559,1,387,4088,0.000240,0
8,1147247,2807165,1,28,1909,0.001565,0
9,2109311,4682041,1,129,6621,0.000000,0
10,3607920,424767,1,100,1943,0.002035,0
11,4534982,2874996,1,159,1561,0.043347,0
12,3804170,4087207,1,27,1420,0.000000,0
13,4537440,2883271,1,182,2782,0.000358,0
14,4603373,3886839,1,64,1511,0.071358,0
15,1813940,2857783,1,48,5860,0.000170,0
16,183770,1197203,1,1670,2979,0.035041,1
17,3220050,3329273,1,80,5849,0.000682,0
18,3612494,475684,1,6,466,0.000000,0
19,3802029,2174034,1,157,3062,0.001286,0
20,3381797,1555461,1,521,2891,0.000000,0
21,2943271,2076028,1,48,4404,0.001130,0
22,2127394,3555498,1,621,1257,0.008100,0
23,2895014,3805735,1,99,1936,0.003083,0
24,1514574,3600159,1,91,4326,0.019946,0
25,2658039,728656,1,123,1959,0.004237,0
26,2061179,2536066,1,355,7999,0.000361,0
27,3401324,2702454,1,62,2600,0.000000,0
28,2416482,4623472,1,364,4728,0.001469,0
29,4344012,448006,1,1666,7999,0.000210,0
30,4469921,30932,1,151,2002,0.000495,0
31,4052183,4120521,1,68,965,0.000000,0
32,3779815,4020504,1,206,7998,0.000000,0
33,4845691,3523075,1,38,2001,0.000000,0
34,1412710,2407387,1,136,986,0.015238,0
35,3330917,859450,1,598,7999,0.000236,0
36,2353325,1568271,1,313,7998,0.000121,0
37,422861,1541925,1,40,1232,0.003221,0
38,3015544,1103507,1,498,4544,0.000000,0
39,3409942,4595830,1,69,3638,0.000000,0
40,2539665,2062032,1,200,7999,0.000000,0
41,2610074,608414,1,87,195,0.003663,0
42,3760658,1213759,1,1273,4229,0.000000,0
43,3961528,4547230,1,297,1958,0.001449,0
44,4617555,3736895,1,175,12,0.022624,0
45,653304,581712,1,132,7539,0.000527,0
46,4212919,1011955,1,72,164,0.077869,0
47,1722356,4352614,1,38,456,0.004283,0
48,4634199,1834721,1,82,6961,0.000279,0
49,1224687,4478691,1,115,1422,0.005468,0

In [22]:
#weight for source and destination of each link
Weight_in = {}
Weight_out = {}
for i in  tqdm(train_graph.nodes()):
    s1=set(train_graph.predecessors(i))
    w_in = 1.0/(np.sqrt(1+len(s1)))
    Weight_in[i]=w_in
    
    s2=set(train_graph.successors(i))
    w_out = 1.0/(np.sqrt(1+len(s2)))
    Weight_out[i]=w_out
    
#for imputing with mean
mean_weight_in = np.mean(list(Weight_in.values()))
mean_weight_out = np.mean(list(Weight_out.values()))

100%|█████████████████████████████████████████████████████████████████████| 2480802/2480802 [00:35<00:00, 70802.43it/s]

In [23]:
train_data['weight_in'] = train_data.To.apply(lambda x: Weight_in.get(x,mean_weight_in))
train_data['weight_out'] = train_data.Form.apply(lambda x: Weight_out.get(x,mean_weight_out))
train_data['weight_f1'] = train_data.weight_in + train_data.weight_out
train_data['weight_f2'] = train_data.weight_in * train_data.weight_out
train_data['weight_f3'] = (2*train_data.weight_in + 1*train_data.weight_out)
train_data['weight_f4'] = (1*train_data.weight_in + 2*train_data.weight_out)
train_data

,Form,To,Target,src_Indegree,src_Outdegree,Jaccard_Coefficient,follow_back,weight_in,weight_out,weight_f1,weight_f2,weight_f3,weight_f4
0,4862306,3513873,1,291,7998,0.000242,0,0.288675,0.011181,0.299856,0.003228,0.588531,0.311037
1,629760,4763045,1,144,1351,0.007988,0,0.204124,0.027196,0.231321,0.005551,0.435445,0.258517
2,3086336,1009858,1,152,2395,0.007997,0,0.103142,0.020429,0.123572,0.002107,0.226714,0.144001
3,1090555,4388892,1,50,295,0.000000,0,0.301511,0.058124,0.359635,0.017525,0.661147,0.417759
4,307789,4761599,1,161,664,0.061415,0,0.097590,0.038778,0.136368,0.003784,0.233958,0.175147
...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,3768869,3632227,0,23,991,0.000000,0,0.204124,0.031750,0.235874,0.006481,0.439998,0.267624
199996,193463,395062,0,255,7999,0.000000,0,0.707107,0.011180,0.718287,0.007906,1.425394,0.729467
199997,1131409,4535736,0,50,1208,0.000000,0,0.707107,0.028760,0.735867,0.020336,1.442973,0.764627
199998,597722,2395573,0,2,6,0.000000,0,0.179605,0.377964,0.557570,0.067884,0.737175,0.935534
199999,795081,988627,0,161,1738,0.000566,0,0.223607,0.023980,0.247587,0.005362,0.471194,0.271567

In [24]:
file_path = 'train_data_with_jacard_corrected.csv'

# Save the DataFrame to a CSV file
train_data.to_csv(file_path, index=False)

In [25]:
test_data = pd.read_csv('test_kaggle_model_1.csv')
test_data

,Form,To,src_Indegree,src_Outdegree,In_Degree_dest,OutDegree_dest
0,3360982,4457271,102,1964,0,0
1,4761876,4698439,68,123,0,0
2,4198430,3615486,217,6996,0,0
3,2945770,747948,210,289,0,0
4,3950088,3360335,149,1309,0,0
...,...,...,...,...,...,...
1995,3116985,2415415,105,449,0,0
1996,265459,842701,95,3947,0,0
1997,2547139,4332939,48,131,0,0
1998,2366264,1815056,10,107,0,0
1999,2735577,1232247,17,544,0,0

In [26]:
test_data = test_data.drop(['In_Degree_dest', 'OutDegree_dest'], axis=1)
test_data

         Form       To  src_Indegree  src_Outdegree
0     3360982  4457271           102           1964
1     4761876  4698439            68            123
2     4198430  3615486           217           6996
3     2945770   747948           210            289
4     3950088  3360335           149           1309
...       ...      ...           ...            ...
1995  3116985  2415415           105            449
1996   265459   842701            95           3947
1997  2547139  4332939            48            131
1998  2366264  1815056            10            107
1999  2735577  1232247            17            544

[2000 rows x 4 columns]

In [31]:
#G_d1 = nx.Graph()

#for _, row in df.iterrows():
    #G_d1.add_edge(row['Form'], row['To'])


jaccard_coefficients_test = []

for _, row_d2 in test_data.iterrows():
    node1_d2 = row_d2['Form']
    node2_d2 = row_d2['To']
   
    if node1_d2 in G_d1 and node2_d2 in G_d1:
        jaccard = nx.jaccard_coefficient(G_d1, [(node1_d2, node2_d2)])
        for u, v, j in jaccard:
            jaccard_coefficients_test.append(j)
            
    else:
        jaccard_coefficients_test.append(0)
        
test_data['Jaccard_Coefficient'] = jaccard_coefficients_test

In [32]:
test_data

         Form       To  src_Indegree  src_Outdegree  Jaccard_Coefficient
0     3360982  4457271           102           1964             0.036222
1     4761876  4698439            68            123             0.000000
2     4198430  3615486           217           6996             0.000000
3     2945770   747948           210            289             0.004264
4     3950088  3360335           149           1309             0.021918
...       ...      ...           ...            ...                  ...
1995  3116985  2415415           105            449             0.014035
1996   265459   842701            95           3947             0.003521
1997  2547139  4332939            48            131             0.034247
1998  2366264  1815056            10            107             0.008850
1999  2735577  1232247            17            544             0.000000

[2000 rows x 5 columns]

In [33]:
test_data['follow_back'] = test_data.apply(lambda row: follows_back(row['Form'],row['To']),axis=1)
test_data

,Form,To,src_Indegree,src_Outdegree,Jaccard_Coefficient,follow_back
0,3360982,4457271,102,1964,0.036222,0
1,4761876,4698439,68,123,0.000000,0
2,4198430,3615486,217,6996,0.000000,0
3,2945770,747948,210,289,0.004264,0
4,3950088,3360335,149,1309,0.021918,0
...,...,...,...,...,...,...
1995,3116985,2415415,105,449,0.014035,0
1996,265459,842701,95,3947,0.003521,0
1997,2547139,4332939,48,131,0.034247,0
1998,2366264,1815056,10,107,0.008850,0
1999,2735577,1232247,17,544,0.000000,0

In [34]:
test_data['weight_in'] = test_data.To.apply(lambda x: Weight_in.get(x,mean_weight_in))
test_data['weight_out'] = test_data.Form.apply(lambda x: Weight_out.get(x,mean_weight_out))
test_data['weight_f1'] = test_data.weight_in + test_data.weight_out
test_data['weight_f2'] = test_data.weight_in * test_data.weight_out
test_data['weight_f3'] = (2*test_data.weight_in + 1*test_data.weight_out)
test_data['weight_f4'] = (1*test_data.weight_in + 2*test_data.weight_out)
test_data

,Form,To,src_Indegree,src_Outdegree,Jaccard_Coefficient,follow_back,weight_in,weight_out,weight_f1,weight_f2,weight_f3,weight_f4
0,3360982,4457271,102,1964,0.036222,0,0.110432,0.022559,0.132990,0.002491,0.243422,0.155549
1,4761876,4698439,68,123,0.000000,0,0.288675,0.089803,0.378478,0.025924,0.667153,0.468280
2,4198430,3615486,217,6996,0.000000,0,0.200000,0.011955,0.211955,0.002391,0.411955,0.223910
3,2945770,747948,210,289,0.004264,0,0.134840,0.058722,0.193562,0.007918,0.328402,0.252284
4,3950088,3360335,149,1309,0.021918,0,0.084515,0.027629,0.112144,0.002335,0.196660,0.139773
...,...,...,...,...,...,...,...,...,...,...,...,...
1995,3116985,2415415,105,449,0.014035,0,0.038925,0.047140,0.086065,0.001835,0.124990,0.133206
1996,265459,842701,95,3947,0.003521,0,0.068519,0.015915,0.084434,0.001090,0.152953,0.100349
1997,2547139,4332939,48,131,0.034247,0,0.288675,0.087039,0.375714,0.025126,0.664389,0.462753
1998,2366264,1815056,10,107,0.008850,0,0.500000,0.096225,0.596225,0.048113,1.096225,0.692450
1999,2735577,1232247,17,544,0.000000,0,0.316228,0.042835,0.359063,0.013546,0.675291,0.401898

In [35]:
file_path = 'kaggle_test_data_with_jacard_crrt.csv'

# Save the DataFrame to a CSV file
test_data.to_csv(file_path, index=False)